<h2>Hello this is the page dedicated to Berry the cat.</h2>

<div>
    Here is Berry's picture!
    <img src='/images/kitten.png'>
</div>
<div>
    <form action="secret">
    Click submit to go to the SECRET page!
    <input type="submit">
    </form>
</div>