
<html>
  <head>
    <title>KITTEN SHOOT</title>
    <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="kitten">
      <%= yield %>
    </div>
    <div class="right_side">
      Where does this appear?

    </div>
  </body> 
</html>
