
<html>
  <head>
    <title>Daft cat!</title>
    <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="kitten">
      <%= yield %>
    </div>
    <div class="next_div">
      Where does this appear?
      <div>
        And this ?
        <div>
          And this should be next to that
        </div>
      </div>
    </div>
    <div class="information">
    This should be below everything
      <img src='images/tiger.jpeg'>
    This is what the daft cat wants to be like....
      
    </div>  
  </body> 
</html>
