You made it to the secret page!!
  <div>
  <h2>go and watch the news if you like</h2>

  <a href="http://www.bbc.co.uk" id="news">BBC</a>

  <form action="/">
  Click here to go back to the home page!
  <input type="submit">
  </form>
  </div>