body {
  background-color: #f0ffe0;
}

.kitten {
	border: 3px solid green;
  background-color: pink;
  width: 50em;
  margin: auto;

}
.next_div {
  background-color: beige;
  width: 50em;
  margin: auto;
  padding: 2em;
}
img {
  background-color: salmon;
  float: center;
  border-radius: 10em;

}
#news {
  text-decoration: none;
  text-align: center;
}
div div div {
  float: right;
  background-color: #25DBCF;
}
div div {
  padding: 2em;
}
.information {
  width: 100%;
  height: 10em;
  background-color: #ebf5ff;
  text-align: center;
  font-size: 2em;
  
}
div {
  border-radius: 2em;
}
#hello {
  text-align: center;
}
h2 {
  text-align: center;
}
